* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1A1A1A;
    margin: 0;
    width: 100%;
    display:  grid;
    grid-template-columns: 10% 45% 35% 10%;
    grid-template-areas: 
        "header header header header"
        ". main side ."
        ". ruokalista ruokalista ."
        "footer footer footer footer";
}

/*
.main, .side, .ruokalista, footer {
    border: 1px solid red;
    background-color: #1A1A1A;
    color: white;
}
*/

/* NAVBAR */
nav {
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    height: 80px;
    width: 100%;
    background-color: #1A1A1A;
    border-bottom: 2px solid black;
}

nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    
}

nav > ul li {
    display: inline-block;
    line-height: 2em;
    margin: 0 5px;
}

nav > ul li a {
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 10px;
}

nav >a.active, a:hover {
    background: #FA4500;
    transition: .5s;
}

/*  HEADER   */
header {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: fixed;
    grid-area: header;
    height: 100vh;
    text-align: center;
    padding-top: 20vh;
}

header > h1 {
    font-family: Brush Script MT, sans-serif;
    font-size: 15em;
    color: #FA4500;
}

/*  MAIN    */
.main {
    grid-area: main;
}

.main {
    background-color: #1A1A1A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    line-height: 1.5;
    color: white;
    padding: 50px 100px;
}

.main > ul {
    font-weight: 600;
    list-style: none;
    text-decoration: none;
}

ul > h2 {
    font-weight: bold;
    color: #FA4500;
}

/* SIDE */
.side {
    grid-area: side;
}

.side {
    margin: 40px 150px 40px 10px;
    background-color: black;
    border-radius: 10px;
}

.side {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    line-height: 1.5;
    font-weight: 600;
    color: white;
}

.side > h2 {
    font-weight: bold;
    color: #FA4500;
}

/*  RUOKALISTA */
.ruokalista {
    grid-area: ruokalista;
}

.ruokalista {
    background-color: #1A1A1A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 3em;
    color: white;
    padding: 50px 100px;
}

.ruokalista {
    border-bottom: 2px solid #FA4500;
    border-top: 2px solid #FA4500;
}

.annokset {
    font-size: 0;
}

.annokset > img {
    max-width: 20%;
}

.ruokalista > h2 {
    font-weight: bold;
    color: #FA4500;
}

.ruokalistaViikonpaiva {
    color: #FA4500;
}

/*  FOOTER */
footer {
    grid-area: footer;
}

footer {
    background-color: #1A1A1A;
    padding-top: 10vh;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.yhteystiedot {
    width: 600px;
    height: 350px;
    padding-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: white;
}

.yhteystiedot > p {
    line-height: 1;
}

.footerNimi {
    font-weight: bold;
    color: #FA4500;
}

a[href^="tel"]::before {
    content: "📞 ";
}

a[href^="fax"]::before {
    content: "📠 ";
}


a[href^="mailto"]::before {
    content: "📧 ";
}
