body {
    background-color: black !important;
    margin: 0;
}

canvas {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    
}

.divHeader {
    position: relative;
    padding-top: 2em;
    background-color: rgba(0,0,0,0);
    color:white;
    font-family: 'Rubik', sans-serif;
}

.card {
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
}


.d {
    position: relative;
    padding-top: 35px !important;
    background-color: rgba(0,0,0,0);
    color: white;
    font-family: 'Rubik', sans-serif;
}

.b {
    color: white !important;
    box-shadow: none !important;
    padding: 0.5rem 0.5rem !important;
}

.b:hover {
    color: #264fc0 !important;
}



ul.list-unstyled a {
    font-size: 1.4em;
    color:white;
    text-decoration: none;
}

.contacts {
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
}

.contacts-text-align{
    text-align: left !important;
}

.contacts-mw {
    min-width: 360px !important;
}

  .fa-linkedin,
  .fa-github-square,
  .fa-envelope-square,
  .fa-phone-square-alt {
      font-size: 2em;
      color: #264fc0;
  }

